@import url("./colors.css");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 10px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--text-primary);
  background-color: var(--background-primary);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
a:hover {
  color: var(--link-hover-color);
}
button {
  background-color: #f9f9f9;
}
textarea:focus,
input:focus {
  outline: none;
  border: none;
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

button.btn-primary {
  background-color: var(--background-primary);
  color: var(--text-primary);
  border: none;
  padding-block: 0.4rem;
  border-radius: 4px;
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#app {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
}

.info {
  color: var(--info);
}

p {
  font-size: 1.4rem;
}
