:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 10px;

  color-scheme: light dark;
  color: var(--text-primary);
  background-color: var(--background-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Light-Mode Colors */
  --accent: #1ed760;
  --secondary: #beb8eb;
  --text-primary: #242625;
  --background-primary: #ede3e9;
  --disabled: #90a296;
  --info: #4b8f8c;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark-Mode Colors */
    --text-primary: #ede3e9;
    --background-primary: #242625;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

button {
  background-color: var(--background-primary);
  color: var(--text-primary);
  border: none;
  padding-block: 0.4rem;
  border-radius: 4px;
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#app {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.info {
  color: var(--info);
}

p {
  font-size: 1.4rem;
}
